*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


body {
    margin: 0;
    padding: 0;
    background-image:url("assets/blurry-gradient-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Playfair Display', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

